
<div class="footer">
  <div class="container">
    <div class="row">
      <span class="pull-right">up</span>
      <span class="pull-left">閲覧量：890</span>
      <div class="language text-center">
        <%= link_to "日本語", jp_welcome_index_path, class: "btn btn-primary btn-sm active",  role: "button" %>
        <%= link_to "English", en_welcome_index_path, class: "btn btn-primary btn-sm active",  role: "button"%>
        <%= link_to "中文", zh_welcome_index_path, class: "btn btn-primary btn-sm active",  role: "button"%>
      </div>
    </div>
  </div>
</div>