<div class="container">
<%if !@articles.blank?%>
  <div class="list">
    <ul>
      <% @articles.each do |article|%>
          <li>
            <%= link_to article_path(article) do %>
              <span class="pull-right"><%= article.published_at %></span>
              <%= article.title%>
            <% end -%>
          </li>
      <% end -%>
    </ul>
  </div>
<% else%>
  <div class="text-center">
    还没有内容
  </div>
<%end%>
</div>