<div class="panel panel-default">
  <div class="panel-heading">最新内容</div>
  <div class="panel-body">

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">系统更新日志 by WizCloud<span class="pull-right">刷新</span></div>
  <div class="panel-body">
    <%#= render partial: 'updates'%>
  </div>
</div>


