<div class="container">
  <div class="product-category">
    <h3 class="title">CATEGORY</h3>
    <ul>
      <li><a href="#"><span></span> BLANK DECKS </a></li>
      <li><a href="#"><span></span> DECKS </a></li>
      <li><a href="#"><span></span> COMPLETE </a></li>
      <li><a href="#"><span></span> ACCESSORIES </a></li>
    </ul>
  </div>
  <div class="oem product-show">
    <div class="product-data">
      <h3 class="product-title"><%= @product.en_name%></h3>
    </div>
    <%= image_tag @product.image_path, class: "product-banner"%>
    <div class="clr"></div>
    <div class="hd">
      <ul>
        <li class="on">PRODUCT SUMMARY</li>
        <li>VIDEO</li>
        <li>INQUIRY</li>
      </ul>
    </div>
  </div>
  <div class="clr"></div>
</div>
<% content_for :script do %>
<script type="text/javascript">
  // alert(1)
</script>
<% end -%>