<div class="container public">
  <div class="page-right pull-right">
    <%= render "layouts/right"%>
  </div>
  <div class="content_box">
    <h1 class="content_tit"><%= @page.title%></h1>
    <div class="time"><%= @page.updated_at.to_s(:default) if @page.updated_at%></div>
    <div class="text">
      <%= raw @page.content%>
    </div>
  </div>
  <div class="clr"></div>
</div>