<div class="container public">
  <div class="about-nav text-right">
    <%= link_to "Profile", "#", class: "on"%>
    <%= link_to "Profile", "#"%>
    <%= link_to "Profile", "#"%>
    <%= link_to "Profile", "#"%>
  </div>
</div>