<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <%= image_tag "header_logo.jpg", class: "logo" %>
      </a>
    </div>
    <div class="navbar-collapse collapse text-center" id="bs-example-navbar-collapse-5" aria-expanded="false" style="height: 1px;">
      <p class="time">营业时间 11:00-22:00</p>
      <p class="navbar-text navbar-right">
        <%= link_to "日本語", jp_welcome_index_path, class: "btn btn-primary btn-sm active",  role: "button" %>
        <%= link_to "English", en_welcome_index_path, class: "btn btn-primary btn-sm active",  role: "button"%>
        <%= link_to "中文", zh_welcome_index_path, class: "btn btn-primary btn-sm active",  role: "button"%>
      </p>
    </div>
  </div>
</nav>