<div class="container">
  <div class="product-category">
    <h3 class="title">CATEGORY</h3>
    <ul>
      <li><a href="#"><span></span> BLANK DECKS </a></li>
      <li><a href="#"><span></span> DECKS </a></li>
      <li><a href="#"><span></span> COMPLETE </a></li>
      <li><a href="#"><span></span> ACCESSORIES </a></li>
    </ul>
  </div>
  <div class="oem product-show">
    <%= image_tag "product_banner.jpg", class: "product-list-banner"%>
    <div class="hd">
      <ul>
        <li class="on">PRODUCT SUMMARY</li>
        <li>VIDEO</li>
        <li>INQUIRY</li>
      </ul>
    </div>
  </div>
  <div class="clr"></div>
</div>
