body,ul li,ul,a,img,h1,h2,h3,h4,h5,h6,input,table{padding:0px;margin:0px;font:14px MicrosoftYahei;}
a{text-decoration: none;}
ul li{
  list-style: none;
}
em{
  font-style:normal;
}
img{
  border:none;
  vertical-align: middle;
}
$yellow : #eb9327;
 $white : #FFFFFF;
  $blue : #2f4e63;
  $gray : #484848;
 $width : 1024px;
.min_width{
  width:100%;
  min-width: $width;
}
.clr{
  clear:both;
}
.text-center{
  text-align: center;
}
.pull-left{float:left;}
.pull-right{float:right;}
.container{
  width:$width;
  margin:0 auto;
}
.col-lg-6{
  width:50%;
}
.col-lg-12{
  width:100%;
}
.nav{
  @extend .min_width;
  width:100%;
  min-width: $width;
  background:#2f4e62;
  overflow: hidden;
  li{
    float:left;
    a{
      color: $white;
      padding: 0px 30px;
      font-size: 16px;
      display: inline-block;
      line-height:60px;
      &:hover{
        background:#083756
      }
    }
  }
  .on{
    background:$yellow
  }
}
.public{
  background: asset-url("bgy.gif") repeat-y 715px 0;
  margin-top: 30px;
  overflow: hidden;
}
.banner{
  @extend .min_width;
  height:360px;
  overflow: hidden;
}
.banner img{
  width:100%;
}
.index_left{
  width: 68%;
  @extend .pull-left;
  overflow: hidden;
}
.index_right{
  width: 28%;
  @extend .pull-right;
}
.panel{
  width:92%;
  margin-bottom: 20px;
  h4{
    display: block;
    width:100%;
    overflow: hidden;
    position: relative;
    height: 30px;
    border-bottom: 1px #DCDCDC solid;
    line-height: 28px;
    span{
      border-bottom: 2px #44749C solid;
      cursor: pointer;
      height: 29px;
      color: #004276;
      display: inline;
      width: 70px;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      font: 16px/26px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";
    }
    a{
      padding-left: 17px;
      color: #aaa;
      text-align: right;
      display: block;
      line-height: 28px;
    }
  }
  ul{
    width: 100%;
    margin: 0 auto;
    li{
      height: 28px;
      overflow: hidden;
      line-height: 28px;
      padding: 0 0 0 15px;
      background: asset-url("dot.gif") no-repeat 0 1px;
      color: #333;
      text-align: left;
      a{
        color: #333;
        font-size: 12px;
        span{
          line-height: 28px;
        }
      }
    }
    li.first-child, li:first-child{
      background:none;
      height: 32px;
      padding:0px;
      font: 16px/32px "\5FAE\8F6F\96C5\9ED1","\9ED1\4F53";
      text-align: center;
      a{
        font-size: 14px;
        color: #004276;
      }
    }
  }
}

.index_title{
    overflow: hidden;
    line-height: 28px;
    height: 30px;
    text-align: right;
    border-bottom: 1px #DCDCDC solid;
  span{
    float: left;
    font: 16px/24px;
    color: #333;
    a{
      font-weight: bold;
    }
  }
  .r-m {
    color: #aaa;
    .add{
      color: #436993;
      margin-right: 2px;
    }
    a{
      font-weight: normal;
      font-size: 12px;
      color: #aaa;
    }
  }
}
.pic_text{
  margin: 10px auto 0;
  color: #666;
  line-height: 20px;
  div{
    display: inline;
    _margin-right: 7px;
    float: left;
    margin: 0 10px 0 0;
  }
  .pic_img{
    img{
      width: 100px;
      height: 100px;
    }
  }
  .pic_img_right{
    float: left;
    li{
      height: 20px;
      color: #666;
      line-height: 20px;
      a{

        font-size: 12px;
        color: #333;
      }
    }
  }
  .list12{
    margin: 5px auto 0;
    width: 100%;
    overflow: hidden;
    li{
      width: 135px;
      float: left;
      padding: 0 0 0 8px;
      background-position: 0 -30px;
      background: asset-url("dot.gif") no-repeat 0 0;
      line-height: 28px;
      color: #333;
      text-align: left;
      a{
        font-size: 12px;

        color: #333;
      }
    }
  }
}
.index_right_text{
  padding:10px 0px;
  font-size: 12px;
  line-height: 22px;
}
.footer{
  @extend .container;
  line-height:24px;
  font-size: 12px;
  margin-top: 30px;
  border-top:1px solid #DCDCDC;
  padding-top:15px;
  padding-bottom:15px;
}
.im{
  margin-bottom: 20px;
}
.index_img_list{
  overflow: hidden;
  padding-top:20px;
  li{
    float:left;
    margin-right: 10px;
    *margin-right: 8px;
    img{
      height: 120px;
    }
  }
  li.last-child{
    margin-right: 0px;
  }
  li:last-child{
    margin-right: 0px;
  }
}
.list{
  width:70%;
  margin-top: 20px;
}
.list .tit{
  border-bottom: 3px solid #e0e0e0;
  height: 27px;
  line-height: 15px;
  font-size: 16px;
  color: #436993;
  margin-bottom: 24px;
  span{
    display: block;
    background: asset-url("c_h2bg.png") no-repeat;
    height: 30px;
    padding-left: 20px;
    font-family: \5fae\8f6f\96c5\9ed1;
  }
}