// body,ul li,ul,a,img,h1,h2,h3,h4,h5,h6,input,table,p,span{padding:0px;margin:0px;}
// body{font:14px Arial;}
// a{text-decoration: none;}
// ul li{
//   list-style: none;
// }
// em{
//   font-style:normal;
// }
// img{
//   border:none;
//   vertical-align: middle;
// }
// .pull-right{float:right;}
// .pull-left{float:left;}
// @mixin clear{
//   &:after{
//     content:"";
//     display: block;
//     width:100%;
//     height:1px;
//     clear:both;
//   }
// }
// div.container{
//   width:1160px;
//   margin:0 auto;
// }
// .menu{
//   line-height:74px;
//   a{
//     color:#565656;
//     font-size:18px;
//     margin-right:34px;
//     &.pull-right{
//       color:#a2a2a2;
//     }
//     &:last-child{margin-right:0px;}
//   }

// }
// .clr{clear:both;}
// div.nav{
//   width:100%;
//   min-width:1160px;
//   margin:0 auto;
//   font-family: Arial;
//   background:#000000;
//   img.header_logo{
//     width:316px;
//     height:100px;
//     float:left;
//   }
//   a{
//     color:#FFF;
//   }

//   ul.nav-right{
//     float:right;
//     li{
//       font-family: Arial;
//       line-height: 98px;
//       font-size: 18px;
//       margin-left:20px;
//       display: inline-block;
//     }
//   }
//   @include clear;
// }

// .fullSlide{ width:100%;  position:relative;  height:592px; background:#000;  }
// .fullSlide .bd{ margin:0 auto; position:relative; z-index:0; overflow:hidden;  }
// .fullSlide .bd ul{ width:100% !important;  }
// .fullSlide .bd li{ width:100% !important;  height:592px; overflow:hidden; text-align:center;  }
// .fullSlide .bd li a{ display:block; height:700px; }

// // .fullSlide .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; background:asset-url("touming.png") repeat-x; text-align:center;
// //    _background:#000; _filter:alpha(opacity=60);
// // }
// // .fullSlide .hd ul{ text-align:center;  padding-top:5px;  }
// // .fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:8px; height:8px; margin:5px; background:asset-url("tg_flash_p.png") -18px 0; overflow:hidden;
// //   line-height:9999px;
// // }
// // .fullSlide .hd ul .on{ background-position:0 0; }
// .footer{
//   @include clear;
//   color:#FFF;
//   width:100%;
//   min-width:1200px;
//   background:#01260d;
//   padding:60px 0px;
//   font-family: arial;
// }
// .footer{
//   .footer-nav{
//     font-size:18px;
//     a{color:#ffa800;margin-right:22px;&:last-child{margin-right:0px;}}
//   }
// }
// hr.line{
//   width:100%;
//   background:#FFF;
//   height:1px;
//   border:none;
//   margin:25px 0px;
// }
// .language{
//   text-align:center;
//   a{
//     color:#FFF;
//     font-size:18px;
//   }
// }