<div class="container">
  <div class="product-category">
    <h3 class="title">CATEGORY</h3>
    <ul>
      <li><a href="#"><span></span> BLANK DECKS </a></li>
      <li><a href="#"><span></span> DECKS </a></li>
      <li><a href="#"><span></span> COMPLETE </a></li>
      <li><a href="#"><span></span> ACCESSORIES </a></li>
    </ul>
  </div>
  <div class="oem product-list">
    <%= image_tag "product_banner.jpg"%>
  </div>
  <div class="clr"></div>
</div>
