
<h4><span><%= pannel_list.title %></span><%= link_to "更多", article_category_articles_path(pannel_list.identity) -%></h4>
<% if !pannel_list.list.blank? %>
 <ul>

  <% pannel_list.list.each do |news| %>
    <li>
      <%= link_to truncate_u(news.title), article_path(news) do %>
      <span class="pull-right"><%= news.published_at.to_s(:default) if news.published_at %></span>徐光裕：把神风特攻与黄继光相比的人
      <% end -%>
   </li>
  <% end -%>
 </ul>
 <% else %>
  <div class="no_text text-center">还没有内容</div>

<% end -%>