<div class="col-lg-12">
  <div class="index_title">
    <a href="#"><span>高端视点</span></a>
    <em class="r-m"><em class="add">+</em><a href="http://mil.sohu.com/s2014/8008/s403094591/index.shtml" target="_blank">更多</a></em>
  </div>
  <div class="pic_text">
    <div class="pic_img"><%= image_tag "0423.jpg"%></div>
    <div>
      <ul class="pic_img_right">
        <li><a href="#">美特种部队神话不在 自杀成风</a></li>
        <li><a href="#">美特种部队神话不在 自杀成风</a></li>
        <li><a href="#">美特种部队神话不在 自杀成风</a></li>
        <li><a href="#">美特种部队神话不在 自杀成风</a></li>
        <li><a href="#">美特种部队神话不在 自杀成风</a></li>
      </ul>
    </div>
  </div>
  <div class="clr"></div>
  <br>
  <div class="index_title">
    <a href="#"><span>学术委员会</span></a>
  </div>
  <div class="index_right_text">
    2000多年前，亚欧大陆上勤劳勇敢的人民，探索出多条连接亚欧非几大文明的贸易和人文交流通路，后人将其统称为“丝绸之路”。千百年来，“和平合作、开放包容、互学互鉴、互利共赢”的丝绸之路精神薪火相传，推进了人类文明进步，是促进沿线各国繁荣发展的重要纽带，
  </div>
  <%= image_tag "20140629.jpg", width: "100%" ,class: "clr"%>
  <br>
  <div class="index_title">
    <a href="#"><span>企业委员会</span></a>
  </div>
  <div class="index_right_text">
    2000多年前，亚欧大陆上勤劳勇敢的人民，探索出多条连接亚欧非几大文明的贸易和人文交流通路，后人将其统称为“丝绸之路”。千百年来，“和平合作、开放包容、互学互鉴、互利共赢”的丝绸之路精神薪火相传，推进了人类文明进步，是促进沿线各国繁荣发展的重要纽带，
  </div>
</div>